/*
	Author: djihed@gmail.com
	Version: 1.0
	Date: 15/08/2005
*/

/* Apparently I don't know my left from my right so expect some weirdness */
/* TODO: Sort out this mess, lots of redundant styles */

/* A real mess because some styles stay ltr despite of the rtl declaration
File a bug report at mozilla.org
*/

td.NavTabsMedium, td.NavTabsMediumSelected, td.NavTabsMediumUnsel, td.NavTabsMediumUnselOther {
	text-align: center;
	font: bold 14 Tahoma, Serif;
	color: grey;
	width: 12%;
	vertical-align: center;
}

td.NavTabsMedium{
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #AAAABB;
	background-color: LightCyan;
}

td.NavTabsMediumSelected{
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #AAAABB;
}

td.NavTabsMediumUnselOther{
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	background-color: LightCyan;
}


td.NavTabsMediumUnsel {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #AAAABB;
	background-color: LightCyan;
}

td.NavTabsMedium:hover, td.NavTabsMediumUnselOther:hover, td.NavTabsMediumUnsel:hover {
	background-color: skyblue;
	color: DarkBlue;
}


body.whole, body.main {
	direction: rtl;
	cursor: crosshair;
}

body.whole {
	width: 733px;
}

iframe.content{
	width: 100%;
	height: 330;
	border: 0px;
	padding: 0px;
}

p.main {
	font: 13 Tahoma, serif;
	text-indent: 30px;
	border: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

p.filedetails {
	font: 13 Tahoma, serif;
	text-indent: 0px;
	border: 0px;
	width: 100%;
	padding: 0px;
	margin: 20px;
}

ul.main, li.main {
	font: 13 Tahoma, serif;
}
/* uneeded really...
p.main:hover {
	border-left: 1px solid red;
}*/

h3.main {
	font: bold 14 Tahoma, serif;
	margin: 10px 5px 5px 5px;
	color: DarkGreen;
}

hr.main {
	width: 40%;
	height: 2px;
	color: red;
}

table.navtable {
	width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;

}

td.NavTabRight, td.NavTabRightSel, td.NavTabLeft, td.NavTabLeftSel{
	height: 24px;
	text-align: center;
	border-style: solid;
	border-color: #0000BB;
	width: 15px;
	background-color: #eeeeff;
}

td.NavTabRight{
	border-width: 0px 1px 0px 0px;
}

td.NavTabLeft{
	border-width: 0px 0px 0px 1px;
}



td.lowerLeft{
	text-align: center;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #0000BB;
	width: 15px;
}


td.lowerRight{
	text-align: center;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #0000BB;
	width: 15px;
}

td.content{
	text-align: right;
	padding: 1px 0px 1px 0px;
	font: 13 Tahoma, Serif;
	margin-bottom: 5px;
}

td.welcometd, td.bottommid, td.bottlowerLeft, td.bottlowerRight, td.NavTabRight, td.NavTabLeft, td.lowerLeft, td.LowerRight {
	background-color: #eeeeff;
}

h3.content {
	text-align: center;
}

p.content {
	text-indent: 30px;
	padding: 0 10 0 0;
}


td.iconstd{
	text-align: center;
	background-color: #eeeeff;
}



td.bottommid{
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #0000BB;
}

td.bottlowerLeft{
	text-align: center;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #0000BB;
	width: 15px;
}

td.bottlowerRight{
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #0000BB;
	width: 15px;
}

td.welcomeTD {
	text-align: center;
	border-top: 1px solid #0000BB;
	border-left: 1px solid #0000BB;
	border-right: 1px solid #0000BB;
	border-bottom: 0px;
}

img.icons {
	border: 0px;
}

tr.NavTr {
	vertical-align: center;
}



td.icontd {
	text-align: center;
	width: 4%;
	background-color: #eeeeff;
	border-color: #eeeeff;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	vertical-align: bottom;
}

td.icontd:hover {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #AAAABB;
	background-color: LightCyan;
}

table.iconstb {
	border-spacing: 0;
	border-collapse: show;
	background-color: #eeeeff;
	empty-cells: show;
}

td.captiontd {
	text-align: center;
	direction: ltr;
	font:  bold 12px Tahoma, serif;
	color: DarkBlue;
}

div.navdiv {
	text-align: center;
}

.navDiv:link ,.navDivInside:link {
	color: grey;
	text-decoration: none;
}


.navDiv:visited, .navDivInside:visited {
	color: grey;
	text-decoration: none;
}
.navDiv:hover, .navDivInside:hover{
	color: DarkBlue;
}

/* main area styles (items) */
td.itemtitle {

}
td.itemdesc {
	text-align: top;
	vertical-align: top;
	padding: 10px 0px 15px 15px;
}
td.iteminstall {
	text-align: right;
	padding: 0px 10px 0px 0px;
	height: 10px;
}

td.itempic {
	vertical-align: center;
}

body.smallwindow {
	background-color: #eeeeff;
	direction: rtl;
	cursor: crosshair;
}

span.filetitle {
	color: green;
	font: bold 12 Tahoma, Serif;
}

td.version {
	font: 12 Tahoma, Serif;
	color: grey;
	text-align: left;
	padding-left: 10px;
}