/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Desktop Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: #00ccee;

	border-bottom-color: #ddeeee;

}

td.NavTabsMediumUnsel {

	border-bottom-color: #00ccee;

}

td.NavTabsMediumSelected{

	background-color: #ddeeee;

	border-bottom-color: #00ccee;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: #00ccee;

	background-color: #ddeeee;

	border-style: solid;

}



span.selected{

	color: #00aacc;

}