/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Internet Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: #80cc00;

	border-bottom-color: #eeffdd;

}

td.NavTabsMediumUnsel {

	border-bottom-color: #80cc00;

}

td.NavTabsMediumSelected{

	background-color: #eeffdd;

	border-bottom-color: #80cc00;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: #80cc00;

	background-color: #eeffdd;

	border-style: solid;

}



span.selected{

	color: #70aa00;

}



