/**************************** misc Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: red;

	border-bottom-color: #ffeedd;

}

td.NavTabsMediumUnsel {

	border-bottom-color: red;

}

td.NavTabsMediumSelected{

	background-color: #ffeedd;

	border-bottom-color: red;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: red;

	background-color: #ffeedd;

	border-style: solid;

}



span.selected {

	color: red;

}



