/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Programming Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: #ee00ee;

	border-bottom-color: #ffeeff;

}

td.NavTabsMediumUnsel {

	border-bottom-color: #ee00ee;

}

td.NavTabsMediumSelected{

	background-color: #ffeeff;

	border-bottom-color: #ee00ee;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: #ee00ee;

	background-color: #ffeeff;

	border-style: solid;

}



span.selected {

	color: #ee00ee;

}