/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Religion Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: green;

	border-bottom-color: #ddffdd;

}

td.NavTabsMediumUnsel {

	border-bottom-color: green;

}

td.NavTabsMediumSelected{

	background-color: #ddffdd;

	border-bottom-color: green;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: green;

	background-color: #ddffdd;

	border-style: solid;

}



span.selected {

	color: green;

}