/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Multimedia Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: #aa9900;

	border-bottom-color: #eeeedd;

}

td.NavTabsMediumUnsel {

	border-bottom-color: #aa9900;

}

td.NavTabsMediumSelected{

	background-color: #eeeedd;

	border-bottom-color: #aa9900;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: #aa9900;

	background-color: #eeeedd;

	border-style: solid;

}



span.selected {

	color: #aa9900;

}