/*

	Author: djihed@gmail.com

	Version: 1.0

	Date: 15/08/2005

*/



/**************************** Server Styles ***************************/

td.NavTabsMediumUnselOther{

	border-color: #0000ff;

	border-bottom-color: #ddddff;

}

td.NavTabsMediumUnsel {

	border-bottom-color: #0000ff;

}

td.NavTabsMediumSelected{

	background-color: #ddddff;

	border-bottom-color: #0000ff;

}



td.content{

	border-width: 0px 1px 1px 1px;

	border-color: #0000ff;

	background-color: #ddddff;

	border-style: solid;

}



span.selected {

	color: #0000ff;

}