/*
	Author: djihed@gmail.com
	Version: 2.0

*/

div.wrapper{
	width: 760px;
	height: 100%;
	margin:0 auto; 
}
body.whole{
	text-align: center;
	direction: rtl;
}

table.navtable {
	border: solid 1px #0000BB;
	width: 750;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	height: 100%;
}

td.welcome {
	text-align: center;
}

td.welcome, td.spacertd, td.footer, td.maincontent{
	background-color: #eeeeff;
}

td.spacertd{
	width: 20px;
	
}



td.tabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #AAAABB;
	
	background-color: LightCyan;
}
td.tabtd:hover {
	background-color: skyblue;
	color: #0000FF;
	border-width: 1px 1px 1px 1px;
}



td.footer {
	height: 25px;
	text-align: center;
	font: normal 12 Tahoma, Serif;

}

p.main {
	font: 13 Tahoma, serif;
	text-indent: 30px;
	border: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

div.linkdivs {
	height: 100%;
	width: 100%;
	cursor: hand;
}

a.links, a.links:visited  {
	color: #666666;
	text-decoration: none;
}

a.links:hover {
	color: #0000DD;
	text-decoration: none;
}

img.icons , img.screenshots {
	border: 0px;
}

table.photos {
	font: normal 14 Tahoma, Serif;
	width: 100%;
	text-align: center;
}

li {
	font: normal 14 Tahoma, Serif;
}


/* form stuff */

.formlabels {
	font: normal 14 Tahoma, Serif;
	text-align: left;
	padding: 0px 0px 0px 20px;
}

input.textfield, textarea.commentarea, select.formselect{
	border-color: #0000BB;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}



span.reqstar {
	color: red;
	font-weight: bold;
}

/*changeable between pages.*/

/*main content */
td.mainmaincontent, td.contactmaincontent, td.shotsmaincontent, td.downloadmaincontent, td.programsmaincontent, td.helpmaincontent, td.usersmaincontent {
	padding: 30px 20px 20px 20px;
	height: 100%;
	vertical-align: top;
}

td.mainmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: #80cc00;
	background-color: #EEFFDD;
	border-style: solid;
}

td.contactmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: #00ccee;
	background-color: #ddeeee;
	border-style: solid;
}

td.shotsmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: #aa9900;
	background-color: #eeeedd;
	border-style: solid;
}

td.downloadmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: red;
	background-color: #ffeedd;
	border-style: solid;
}

td.programsmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: orangered;
	background-color: PapayaWhip;
	border-style: solid;
}

td.helpmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: #ee00ee;
	background-color: #ffeeff;
	border-style: solid;
}

td.usersmaincontent{
	border-width: 1px 1px 1px 1px;
	border-color: #0000ff;
	background-color: #ddddff;
	border-style: solid;
}

/*tabs*/
td.tabtd, td.maintabtd,  td.contacttabtd, td.shotstabtd, td.downloadtabtd, td.programstabtd, td.helptabtd, td.userstabtd {
	height: 24px;
	text-align: center;
	vertical-align: center;
	width: 13%;
	font: normal 14 Tahoma, serif;
}

td.maintabtd{
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #80CC00;
	color: #EEFFDD;
	background-color: #88CC00;
}

td.contacttabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #00ccee;
	color: #ddeeee;
	background-color: #00ccee;
}

td.shotstabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #aa9900;
	color: #eeeedd;
	background-color: #aa9900;
}

td.downloadtabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: red;
	color: #ffeedd;
	background-color: #DD3333;
}

td.programstabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: orangered;
	color: PapayaWhip;
	background-color: orangered;
}

td.helptabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #ee00ee;
	color: #ffeeff;
	background-color: #ee00ee;
}

td.userstabtd {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #0000ff;
	color: #ddddff;
	background-color: #0000ff;
}



